* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

header {
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    z-index: 1000;
    box-shadow: #64626260 0px 1px 5px;
}

.principal-info {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
    color: #513831;
}

.info-logo img {
    width: 100px;
}

.info-nombre h1 {
    font-size: 32px;
    color: #513831;
}

.info-telefono {
    font-size: 14px;
}

/* Navigation & Icons */
.navegador-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;
    color: #fff;
    background-color: #513831;
}





/*inicio incono letras slider*/  
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    position: relative;
    min-width: 100%;
  }
  
  .slide img {
    width: 100%;
    display: block;
  }
  
  .image-data {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
    text-shadow: 1px 1px 5px #302420;
    max-width: 80%;
    animation: fadeIn 1s ease-in;
  }
  
  .image-data .text {
    font-size: 20px;
    font-weight: bold;
    color: #000000;;
  }
  
  .image-data h2 {
    font-size: 32px;
    margin: 10px 0;
  }
  
  .image-data .button {
    background-color: #513831;;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .image-data .button:hover {
    background-color: #381c0a;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
  }
/*final incono letras slider*/  

.nav {
    flex: 1;
    left: 0;
    margin: auto 30px;
    color: #fff;
}



.nav.active {
    display: block; /* Mostrar el menú cuando tiene la clase active */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: sienna;
    border-bottom: 1px solid sienna;
    transform: scale(1.1);
}

/* Icons */
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.icons i {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

/* Estilos generales del input del buscador */

.buscador-container {
    position: relative; /* Necesario para posicionar las sugerencias */
    width: 100%; /* Ajusta el ancho según sea necesario */
}

.buscador {
    margin: 10px;
    width: 80%;
    right: 0;
    max-width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


/* Lista de sugerencias */
.sugerencias {
    position: absolute; /* Posiciona las sugerencias de forma absoluta */
    top: 100%; /* Coloca las sugerencias justo debajo del buscador */
    left: 0;
    width: 100%; /* Asegura que las sugerencias ocupen el mismo ancho que el buscador */
    max-height: 200px; /* Limita la altura de las sugerencias */
    overflow-y: auto; /* Agrega desplazamiento si hay muchas sugerencias */
    background-color: white; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    z-index: 10; /* Asegura que las sugerencias estén por encima de otros elementos */
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc; /* Borde para separar visualmente */
    border-radius: 5px; /* Bordes redondeados */
}
  
  /* Estilo para cada sugerencia */
  .sugerencias li {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #000000; /* Color negro para el texto */
    text-transform: capitalize; /* Capitaliza el texto */
  }
  
  .sugerencias li:hover {
    background-color: #f0f0f0; /* Fondo gris claro al pasar el mouse */
  }
  
  /* Resaltar la palabra clave */
  .highlight {
    background-color: yellow;
}

#cart-count {
    background: red;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    position: relative;
    right: 3%;
}

.username {
    margin-left: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Menu Toggle */
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: #513831;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .info-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .info-logo img {
        max-width: 100px;
        height: auto;
    }

    .menu-toggle {
        display: block;
        font-size: 26px;
        cursor: pointer;
        color: #513831;
        margin-left: 10px;

    }

    .principal-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    .info-nombre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 0 10px;
    }

    .info-nombre h1 {
        font-size: 24px;
        margin: 0;
        text-align: center;
    }

    .info-telefono {
        margin: 10px auto;
    }

    .icons {
        width: 100%;
        justify-content: space-between;
        margin: 10px 20px;
        order: 1;
    }

    .navegador-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px auto 10px 20px;
    }

    .nav {
        display: none;
        width: 100%;
        order: 2;
    }

    .nav.active {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        align-items: flex-start;
    }

    #cart-count {
        background: red;
        border-radius: 50%;
        padding: 3px 6px;
        font-size: 12px;
        color: white;
        position: relative;
        right: 10%;
    }
}

/* SLIDER */
.slider-container {
    position: relative;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: 82vh; /* Ocupa el 70% del alto de la pantalla */
    overflow: hidden;
    margin: 0 auto; /* Centra el slider horizontalmente */
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
    width: 100%;
    height: 100%; /* Asegura que el slider ocupe todo el contenedor */
}

.slide {
    flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho del contenedor */
    height: 100%; /* Asegura que cada slide ocupe todo el alto del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    transform: translateY(-50%);
    background-color: rgba(81, 56, 49, 0.7); /* Color de tu empresa con transparencia */
    color: white;
    border: none;
    border-radius: 80%;
    cursor: pointer;
    font-size: 30px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(81, 56, 49, 1);
}

/*PRODUCTOS*/

.cards-productos {
    margin: 100px auto;
    background-color: #cccccc38;
}

.titulo-productos {
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 20px auto;
    padding-top: 50px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}
.categoria {
    text-align: center;
    width: 200px;
}
.categoria img {
    width: 100%;
    max-width: 1000px; /* Aumentado el tamaño */
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000; /* Bordes más visibles */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.categoria p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #444;
}
.categoria img:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos Responsive */
@media (max-width: 768px) {
    .contenedor {
        gap: 20px;
        padding: 20px;
    }
    .categoria {
        width: 45%;
    }
    h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .categoria {
        width: 100%;
    }
    .categoria img {
        max-width: 160px; /* Reducir un poco en móviles */
    }
    h2 {
        font-size: 20px;
    }
}

/*Comentarios/BANNER*/

.banner {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
}

.comentarios {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.comentario {
    border: 2px solid black;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
}

.estrellas {
    color: gold;
    font-size: 20px;
}

.nombre {
    font-weight: bold;
    margin-top: 10px;
}

  /*PRODUCTOS ABAJO*/

/*FOOTER*/

.pie-pagina{
    width: 100%;
    background-color:#ffffff ;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 350px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000000;
    margin-bottom: 15px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 20px;
    background-color: #513831;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .box{
    display: inline-block;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #513831;;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}





.menu-toggle {
    display: none; /* Oculto por defecto */
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.3s ease;
}

.nav-links.active {
    transform: translateX(0); /* Muestra el menú lateral */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background-color: #513831;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); /* Oculta el menú lateral */
        gap: 30px;
        padding-top: 50px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .nav-links li a {
        font-size: 18px;
        color: white;
    }
}

  
  .section-container {
    width: 90%;
    max-width: none;
    margin: 0 auto;
    padding: 0;
  }

  .section-container h2{
    font-size: 32px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }
  
  .description {
    margin-bottom: 2rem;
    color: #666;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .card {
    background: #e2dddd; /*tarjetas color*/
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card img {
    height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .card h3 {
    font-weight: bold;
    margin-bottom: 0.3rem;
  }
  
  .card .sub {
    color: #777;
    margin-bottom: 0.5rem;
  }
  
  .card .price {
    color: #1a0c0e;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .add-btn {
    border: 1.5px solid #110f0f;
    background: transparent;
    color: #0a0708;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-btn:hover {
    background-color: #0a0809;
    color: white;
  }
  
  .promo {
    background-image: url("../img/Distri.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .promo .overlay {
    color: white;
    text-align: center;
  }
  
  .promo h2 {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }
  
  .promo p {
    margin-bottom: 1rem;
    font-weight: 500;
  }
  
  .info-btn {
    border: 1.5px solid #fff;
    background: transparent;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .info-btn:hover {
    background-color: white;
    color: black;
  }
  
  @media (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  
    .card img {
      height: 120px;
    }
  
    .section-container h2 {
      font-size: 24px;
    }
  
    .add-btn, .info-btn {
      padding: 0.4rem 0.8rem;
      font-size: 0.9rem;
    }
  
    body {
      padding: 1rem;
    }
  }



/*FOOTER*/

.pie-pagina{
    width: 100%;
    background-color:#ffffff ;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 350px;
}
.pie-pagina .grupo-1 .box h2{
    color: #000000;
    margin-bottom: 15px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 20px;
    background-color: #513831;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .box{
    display: inline-block;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #513831;;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.menu-toggle {
    display: none; /* Oculto por defecto */
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    transition: transform 0.3s ease;
}

.nav-links.active {
    transform: translateX(0); /* Muestra el menú lateral */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Muestra el ícono de hamburguesa en pantallas pequeñas */
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background-color: #513831;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%); /* Oculta el menú lateral */
        gap: 30px;
        padding-top: 50px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .nav-links li a {
        font-size: 18px;
        color: white;
    }
}

